.speech {
    font-size: 18px;
    font: Georgia;
    color:black;
}

.direction{
    font-size: 14px;
    font: Helvetica;
    color:black;
    background-color: lightcyan;
}

.direction:hover{
    color:darkgreen;
    background-color: lightpink;
}

.astroff{
    color:darkslateblue;
}

.marina{
    color: darkmagenta;
}

.voitski{
    color: darkgoldenrod;
}


table{
    border:solid 5px blue;
    border-collapse: separate;
    color:black;
    text-align: center;
    padding: 3px;
}
th, td{
    padding: 5px;
    border: solid 2px blue;
}